.word {
  display: inline-block;
  line-height: 1.5em;
}

.letter {
  opacity: 0;
  white-space: pre;
}
.letter.visible {
  animation: bounceIn 0.3s ease-out;
  opacity: 1;
  display: inline-block;
}
.break-line {
  display: block;
  clear: both;
}

@keyframes bounceIn {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    transform: translateY(15%);
    opacity: 0.5;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
