.cases {
  display: flex;
  width: 2;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  justify-content: center;
}

.case {
  position: relative;
  height: 7vh;
  width: 10vh;
  margin: 0 1.5vh 2.5vh 1.5vh;
  font-size: 2.5vh;
}
.case .number {
  color: black;
  position: absolute;
  top: 60%;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
}
.case.hidden {
  opacity: 0;
  pointer-events: none;
}
