.linda-total {
  display: flex;
}

.linda {
  height: 35vh;
  width: 35vh;
  position: relative;
}
.linda-speak {
  font-family: impact;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 4vh;
  height: 35vh;
  width: 45vh;
  background-color: white;
  border-radius: 5vh;
}
.linda-speak .tuutje {
  position: absolute;
  left: -3vh;
  top: 2vh;
  width: 0px;
  height: 0px;
  border-top: 5vh solid transparent;
  border-right: 10vh solid white;
  border-bottom: 5vh solid transparent;
  transform: translate(-50%, 20%);
}
.linda .part {
  height: 35vh;
  width: 35vh;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}
.linda .head {
  position: absolute;
}

.linda .body {
  background-image: url(./linda/lindabody.png);
}
.linda .mouth {
  background-image: url(./linda/lindamond.png);
  transform: scale(1.02) translateX(0.05%);
}
.linda .main {
  background-image: url(./linda/lindahoofd.png);
}
.linda.active .head {
  animation: wiggle 1s infinite;
}

.linda.active .mouth {
  animation: openClose 1s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes openClose {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
