.linda-total {
  display: flex;
}

.linda {
  height: 30vh;
  width: 30vh;
  position: relative;
}
.linda-speak {
  position: relative;
  height: 30vh;
  width: 50vh;
  background-color: white;
  border-radius: 5vh;
}
.linda-speak .tuutje {
  left: -80px;
  width: 0px;
  height: 0px;
  border-top: 50px solid transparent;
  border-right: 100px solid white;
  border-bottom: 50px solid transparent;
  transform: translate(-50%, 20%);
}
.linda .part {
  height: 20vw;
  width: 20vw;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}
.linda .head {
  position: absolute;
}

.linda .body {
  background-image: url(./linda/lindabody.png);
}
.linda .mouth {
  background-image: url(./linda/lindamond.png);
}
.linda .main {
  background-image: url(./linda/lindahoofd.png);
}
.linda.active .head {
  animation: wiggle 1s infinite;
}

.linda.active .mouth {
  animation: openClose 1s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes openClose {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
.letter {
  opacity: 0;
  white-space: pre;
}
.letter.visible {
  animation: bounceIn 0.3s ease-out;
  opacity: 1;
  display: inline-block;
}

@keyframes bounceIn {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    transform: translateY(20%);
    opacity: 0.5;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
